<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Reservation</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Edit Reservation</h1>
    <form th:action="@{/edit/{id}(id=${customer.id})}" th:object="${customer}" method="post">
        <label>Transaction Code:</label>
        <input type="text" th:field="*{id}" readonly="readonly"/><br/>
        <label>Seat Number:</label>
        <input type="text" th:field="*{seatno}" /><br/>
        <label>Customer Name:</label>
        <input type="text" th:field="*{name}" /><br/>
        <label>Transaction Date:</label>
        <input type="date" th:field="*{tdate}" /><br/>

        <div class="button-group">
            <button type="submit" class="save-button">Save</button>
        </div>
    </form>
    <a href="/" class="back-link">Back</a>
</div>
</body>
</html>
